@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: 'Saira Condensed', sans-serif;
  background-color: '#FEF5E7';
}

.fc-header-toolbar {
  width: 100%;
}

.fc-scroller,
.fc {
  height: auto !important;
}
