@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: 'Saira Condensed', sans-serif;
}

.fc-header-toolbar {
  width: 100%;
}

.fc-scroller,
.fc {
  height: auto !important;
}

.form-control {
  font: inherit;
  color: #000;
  width: 100%;
  border: 0;
  height: 1.1875em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: MuiInputBase-keyframes-auto-fill-cancel;
  -webkit-tap-highlight-color: transparent;
  border: 0px solid !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54) !important;
}

.fc-button-primary {
  color: black !important;
  background-color: white !important;
  border-color: black !important;
  border: 0.1em solid !important;
  box-shadow: none !important;
}

.fc-button-active {
  color: white !important;
  background-color: black !important;
  border-color: black !important;
  box-shadow: none !important;
}
.fc-toolbar h2 {
  font-size: 1.75em;
  margin: 0;
  color: black;
}
.fc .fc-row {
  color: black;
}
.fc-unthemed td.fc-today {
  background: #fff9ee !important;
  border-color: '#dddddd' !important;
}
.fc-day-grid-event .fc-time {
  font-weight: bold;
  padding: 3px;
}
.fc-dayGrid-view .fc-week-number,
.fc-dayGrid-view .fc-day-number {
  padding: 0px 4px 0px 0px !important;
}
